body{
	background-image: url("../../assets/images/at_bg.jpg");
}

img{
	width: 200px;
	height: 200px;
	opacity: 1;
}

.character-container{
	height: 200px;
	width: 900px;
}

.character, #player, #enemy{
	width: 200px;
	height: 200px;
}

.fight-container, .enemies{
	background-color: #EDBB99;
	width: 900px;
	height: 250px;
}

.button {
	background-color: #0BB4DE;
	width:100px;
	height: 50px;
}

.combat-log{
	background-color: #D13114;
	width:900px;
	height: 50px;
}

#player-hp, #enemy-hp{
	background-color: #D13114;
	width: 200px;
	height: 25px;
}